<!DOCTYPE html>
<html land="en">
    <head>
        <title> EOTE Dice Roller </title>
        <meta charset="utf-8">
    </head>
    <body>
        <form method = post>
            <label style="font-size:20px" for="boost">Boost:</label>
            <input type="number" id="boost" name="boost" min="0" max="20" style="height: 18px" value={{dice_dict["Boost"]}}><br>

            <label style="font-size:20px" for="setback">Setback:</label>
            <input type="number" id="setback" name="setback" min="0" max="20" style="height: 18px" value={{dice_dict["Setback"]}}><br>

            <label style="font-size:20px" for="ability">Ability:</label>
            <input type="number" id="ability" name="ability" min="0" max="20" style="height: 18px" value={{dice_dict["Ability"]}}><br>

            <label style="font-size:20px" for="difficulty">Difficulty:</label>
            <input type="number" id="difficulty" name="difficulty" min="0" max="20" style="height: 18px" value={{dice_dict["Difficulty"]}}><br>

            <label style="font-size:20px" for="proficiency">Proficiency:</label>
            <input type="number" id="proficiency" name="proficiency" min="0" max="20" style="height: 18px" value={{dice_dict["Proficiency"]}}><br>

            <label style="font-size:20px" for="challenge">Challenge:</label>
            <input type="number" id="challenge" name="challenge" min="0" max="20" style="height: 18px" value={{dice_dict["Challenge"]}}><br>

            <label style="font-size:20px" for="force">Force:</label>
            <input type="number" id="force" name="force" min="0" max="20" style="height: 18px" value={{dice_dict["Force"]}}><br>

            <input style="margin-left: 5px" style="margin-right: 10px" type="submit" name="submit_button" value="Roll">
            <input type="submit" name="submit_button" value="Reset"><br>
          </form>
        <h1>{{dice_dict}}</h1>
        <h1>{{display_results}}</h1>
    </body>
</html>